@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-tabs-tab {
    border-radius: 24px;
    padding: 10px !important;
    background: rgb(243 244 246) !important;

    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 4px 22px -12px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.ant-tabs-tab.ant-tabs-tab-active {
    background: rgb(239 246 255) !important;
}

.ant-tabs-nav-wrap {
    padding-bottom: 8px;
}
